*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
 margin-bottom: 5px;
  color: blue;
  margin-right: 100px;
 
}

.nom a{
  color: darkmagenta;
  text-decoration: none;
 
}

.menu li{
   margin: auto 15px;
   list-style: none;   
}
.menu{
 display: flex;
 background-image: url(fondbarre2.jpg);
 background-attachment: fixed;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 height: auto;
 height: 80px;
 font-size: 1.2rem;
}

.menu li a{
  letter-spacing: 3px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; 
}

.menu li a:hover{
 color: blue;
 
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation{
    max-width: 90%;
    width: 600px;
    border: 3px inset #0062ff;
    padding: 40px;
    font-size: 30px;
   flex-wrap: wrap;
  border-top-right-radius: 50%;
}

.labo{
    max-width: 90%;
    width: 600px;
    border: 3px dotted rgb(0, 85, 255);
    padding: 45px;
    font-size: 30px;
}


article{
   max-width: 90%;
   width: 600px;
    padding: 45px;
    font-size: 30px;
   border: 15px dashed rgb(0, 26, 128);
   border-radius: 50px;
   
}
body{
  background-color: white;
  color: black;
  background-attachment: scroll;
}

.propos, .object{
  width: 75%;
  font-size: 40px;

}
.projet{
 font-size: 40px;
}

.photo {
  margin-left: 50%;
  height: 40px;
}
 
 img{
  background-color: rgb(0, 162, 255);
  max-width: 100%;
  height: 150px;
 margin-left: 59%;
 border-radius: 200px;
}

@media (max-width:768px){
  .contenair{
flex-direction: column;
}
}
.parcourt, .certificats, .propos, .object, .logo, .photos-logos, .devascend {
border: 2px solid rgb(187, 0, 255);
text-align: center; 
border-top-right-radius: 15%;
border-top-left-radius: 15%;
border-bottom-right-radius: 15%;
border-bottom-left-radius: 15%;
width: 60%;
font-size: 20px;
flex-wrap: wrap;
max-width: 90%;
padding: 10px;
text-align: center;
margin-left: 20%;
list-style: none;
}

h3{
  color: rgb(183, 194, 183);
}
.parcourt strong a{
  text-decoration: none;
  color: black;
}
.compte a{
  display: flex;
  align-items: center;
  letter-spacing: 3px;
color: black;
margin: 20px auto;
text-decoration: none;
}

.compte{
  border: 1px dashed blueviolet;
  padding: 25px;
  border-radius: 35px;
}
.photo-logos{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: -100px;
  flex-wrap: wrap;
  padding-right: 60%;
 list-style: none;
}