*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu li{
   margin: auto 15px;
   list-style: none;   
}
.menu{
 display: flex;
 background-image: url(fondbarre2.jpg);
 background-attachment: fixed;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 height: auto;
 height: 80px;
 font-size: 1.2rem;
}

.menu li a{
  letter-spacing: 3px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; 
}

.menu li a:hover{
 background-color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}
.presentation{
    max-width: 90%;
    width: 600px;
    border: 3px inset rgb(106, 255, 0);
    padding: 45px;
    font-size: 30px;
}

.labo{
     max-width: 90%;
    width: 600px;
    border: 3px dotted rgb(0, 234, 255);
    padding: 45px;
    font-size: 30px;
}
.photo{
  height: 30px;
 margin: -20px;

}
article{
   max-width: 90%;
   width: 600px;
    padding: 45px;
    font-size: 30px;
   border: 15px dashed rgb(0, 26, 128);
   border-radius: 50px;
   
}
body{
  background-image: url(fond1.jpg);
  color: white;
  background-attachment: scroll;
}

.propos, .object{
  width: 75%;
  font-size: 40px;

}
.projet{
 font-size: 40px;
}
img{
  background-color: rgb(0, 162, 255);
  max-width: 100%;
  height: 400px;
  margin: 25px;
}


  @media (max-width:768px){
  .contenair{
flex-direction: column;
}
  }

.parcourt, .certificats, .propos, .object{
   border: 2px solid rgb(187, 0, 255);
text-align: center; 
border-top-right-radius: 15%;
border-top-left-radius: 15%;
border-bottom-right-radius: 15%;
border-bottom-left-radius: 15%;
}
h3{
  color: rgb(183, 194, 183);
}
.parcourt strong a{
  text-decoration: none;
  color: white;
}
.compte a{
  display: flex;
  align-items: center;
  letter-spacing: 3px;
color: white;
margin: 20px auto;
text-decoration: none;
}
