*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.presentation{
font-size: 15px;
 position: relative;
 width: 65%;
 flex-wrap: wrap;
 max-width: 100%;
 margin: 10% auto;
 
}

.menu li a{
    text-decoration: none;
    margin: 10px;
    letter-spacing: 1px;
    color: aliceblue;
}

nav .menu{
  display: flex;
  align-items: center;
  padding-left: 60%;
   list-style: none;
  flex-wrap: wrap;
}
.menu :hover{
color: blue;
}

.menu :hover::checkmark{
color: rgb(136, 255, 0);
}

body{
  background-color: rgba(0, 0, 0, 0.836);
  color: rgba(240, 248, 255, 0.893);
}

.section{
  display: flex;
  max-width: 100%;
  width: 100%;
  padding: 50px 40px 5px;
}

.code{
  color:  mediumspringgreen;
  font-size: 16px;
}
 .photo img{
  border: 25px outset  rgb(0, 37, 250);
  border-radius: 50%;

  
}
.code#haut{
  position: absolute;
  top: 20px;
  left: 20px;
  color: mediumspringgreen;
}
.signe{
  color: blue;
}

.contact li{
   margin: 20px auto;
   padding: 5px;
   list-style: none;
   text-decoration: none;
 
}

.contact {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
article{
  padding-left: 25px;
  padding-right: 25px;

}
.titre2{
 padding-left: 50%;
}
.titre3{
  padding-left: 35%;
  padding-top: 25px;
}

.contenair{
  flex-wrap: wrap;
  text-align: center;
 
}

.object, .parcourt, .certificats{
  padding: 10px;
}

.parcourt strong, .parcourt strong  a{

 text-decoration: none;
  color: rgb(18, 226, 157);
}
.photo-logos{
 
 display: flex;
 gap: 25px;
 padding-left: 40%;
 padding-right: 25%;
 flex-wrap: wrap;
}

.photo-logos img{
width: 150px;
border-radius: 15px;
}
.projet{

  text-align: center;
  flex-wrap: wrap;
}

footer{
  text-align: center;
  align-items: center;
  padding-left: 5%;
  font-size: 13px;
}