@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Telugu:wght@100..800&family=Boldonse&family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.presentation{
font-size: 15px;
 position: relative;
 width: 65%;
 flex-wrap: wrap;
 max-width: 100%;
 margin: 10% auto;
 font-weight: 100;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

.menu li a{
    text-decoration: none;
    margin: 10px;
    letter-spacing: 1px;
    color: aliceblue;
}

nav .menu{
  display: flex;
  align-items: center;
  padding-left: 60%;
   list-style: none;
  flex-wrap: wrap;

}


.menu :hover{
color: blue;
}

.menu :hover::checkmark{
color: rgb(136, 255, 0);
}

body{
 background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

  color: white;
}

.section{
  display: flex;
  max-width: 100%;
  width: 100%;
  padding: 50px 40px 5px;
}

.code{
  color:  mediumspringgreen;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 .photo img{
  border: 25px outset  rgb(0, 37, 250);
  border-radius: 50%;
}
.code#haut{
  position: absolute;
  top: 20px;
  left: 20px;
  color: mediumspringgreen;
}
.signe{
  color: mediumspringgreen;
}
.port{
  color: #00bfff;
  font-size: 15px;
}
.nom{
  color: #00bfff;
}
.paragraphe{
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.contact li{
   margin: 20px auto;
   padding: 5px;
   list-style: none;
   text-decoration: none;
  
}

.contact li a i{
  color: white;
}

.contact {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 15px;
}
article{
  padding-left: 25px;
  padding-right: 25px;

}
.titre2{
 padding-left: 50%;
}
.titre3{
  padding-left: 35%;
  padding-top: 25px;
}

.contenair{
  flex-wrap: wrap;
  text-align: center;
 
}

.object, .parcourt, .certificats{
  padding: 10px;
}

.parcourt strong, .parcourt strong  a{

 text-decoration: none;
  color: rgb(18, 226, 157);
}
.photo-logos{
 
 display: flex;
 gap: 25px;
 padding-left: 40%;
 padding-right: 25%;
 flex-wrap: wrap;
}

.photo-logos img{
width: 150px;
border-radius: 15px;
}
.projet{

  text-align: center;
  flex-wrap: wrap;
}

footer{
  text-align: center;
  align-items: center;
  padding-left: 5%;
  font-size: 13px;
}